<a href="https://colab.research.google.com/github/shipra-saxena/miniature-potato/blob/master/text_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!python -m spacy download en_core_web_md

Collecting en_core_web_md==2.1.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz (95.4MB)
     |████████████████████████████████| 95.4MB 2.6MB/s
Building wheels for collected packages: en-core-web-md
  Building wheel for en-core-web-md (setup.py) ... done
  Created wheel for en-core-web-md: filename=en_core_web_md-2.1.0-cp36-none-any.whl size=97126237 sha256=204c3e1cfc35216be80cd20735fa460b00b3db79878531f1ee2888a32c553a6c
  Stored in directory: /tmp/pip-ephem-wheel-cache-8mjtaaiy/wheels/c1/2c/5f/fd7f3ec336bf97b0809c86264d2831c5dfb00fc2e239d1bb01
Successfully built en-core-web-md
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-2.1.0
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [0]:
import pandas as pd
import numpy as np
import spacy
from pandas import DataFrame
import spacy 
import en_core_web_md
nlp = spacy.load("en")
#spacy_nlp = spacy.load('en_core_web_sm')
nlp1=spacy.load('en_core_web_md')

In [0]:
df=pd.read_csv("Text_Similarity_Dataset.csv")
df.shape,df.columns

((4023, 3), Index(['Unique_ID', 'text1', 'text2'], dtype='object'))

In [0]:
def preprocess(para):
  # all text is already in lower case so we need not to convert that
  #remove punctuation and stop words
  doc = nlp1(para)
  tokens = [token.text for token in doc if not token.is_stop and not token.is_punct and not token.is_digit]
  #Lemmatization
  tokens=[token.lemma_ for token in tokens]
  return " ".join(tokens)

In [0]:
def find_simila(para1,para2):
  doc1=nlp1(para1)
  doc2=nlp1(para2)
  return(1-doc1.similarity(doc2))

In [0]:
df_new=DataFrame(columns=['unique_id','similarity'])

In [0]:
import time
import progressbar

for i in progressbar.progressbar(range(100)):
    time.sleep(0.02)

    for i in range(1000):
      para1=(df.iloc[0:i+1,1:2]).to_string()
      para2=df.iloc[0:i+1,2:3].to_string()
      para1=preprocess(para1)
      para2=preprocess(para2)
      df_new.loc[i:i+1,1:2]=(find_simila(para1,para2))
    time.sleep(0.02)


df_new['unique_id']=df['Unique_ID']

N/A% (0 of 100) |                        | Elapsed Time: 0:00:00 ETA:  --:--:--

In [0]:
df_new

      unique_id similarity
0             0   0.720118
1             1    0.38125
2             2   0.332324
3             3   0.276325
4             4   0.208672
...         ...        ...
4018       4018        NaN
4019       4019        NaN
4020       4020        NaN
4021       4021        NaN
4022       4022        NaN

[4023 rows x 2 columns]

In [0]:
df_new.to_csv(r'/content/result.csv')